<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.jidian.repair">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_LOCATION_POLICY" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.User">
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".RepaireGuideActivity"
            android:exported="false" />
        <activity
            android:name=".UserMessageActivity"
            android:exported="false" />
        <activity
            android:name=".AddCabActivity"
            android:exported="false" />
        <activity
            android:name=".UserAuditCabActivity"
            android:exported="false" />
        <activity
            android:name=".UserTaskDetailActivity"
            android:exported="false" />
        <activity
            android:name=".UserTaskListActivity"
            android:exported="false" />
        <activity
            android:name=".MyPatrolDetailActivity"
            android:exported="false" />
        <activity
            android:name=".UserMyTaskActivity"
            android:exported="false" />
        <activity
            android:name=".mvp.FailureAdd.FailureAddActivity"
            android:exported="false" />
        <activity
            android:name=".mvp.patrol.PatrolAddActivity"
            android:exported="false" />
        <activity
            android:name=".mvp.index.IndexActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".mvp.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".mvp.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".mvp.task.TimeTaskDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".mvp.UserMyPatrol.patrolList.UserMyPatrolActivity" />
        <activity android:name=".mvp.UserMyPatrol.patrolDetail.MyPatrolDetailActivity" />
        <activity android:name=".mvp.UserTask.UserTaskList.UserTaskListActivity" />
        <activity android:name=".mvp.UserTask.UserTaskDetail.UserTaskDetailActivity" />
        <activity android:name=".mvp.UserAuditCab.UserAuditCabActivity" />
        <activity android:name=".mvp.addCab.AddCabActivity" />
        <activity android:name=".mvp.message.UserMessageActivity" />
        <activity android:name=".mvp.H5.CommonWebViewActivity" />
        <activity android:name=".mvp.UserLog.OperationLogActivity" />
        <activity android:name=".mvp.password.ChangePasswordActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="07569aca1051dc1b364b95eed3b041be" /> <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>