<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.jidian.repair">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_LOCATION_POLICY" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/pub_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pub_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.User">

        <activity
            android:name=".mvp.index.IndexActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".mvp.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".mvp.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity android:name=".mvp.task.TimeTaskDetailActivity"/>
        <activity android:name=".mvp.task.userTask.UserTaskList.UserTaskListActivity" />
        <activity android:name=".mvp.task.userTask.UserTaskDetail.UserTaskDetailActivity" />
        <activity android:name=".mvp.cabinet.cabAuditCab.UserAuditCabActivity" />
        <activity android:name=".mvp.cabinet.cabAddCab.AddCabActivity" />
        <activity android:name=".mvp.cabinet.cabFailureAdd.FailureAddActivity"/>
        <activity android:name=".mvp.cabinet.cabPatrol.PatrolAddActivity"/>
        <activity android:name=".mvp.user.userMessage.UserMessageActivity" />
        <activity android:name=".mvp.user.userLog.OperationLogActivity" />
        <activity android:name=".mvp.user.userInfo.password.ChangePasswordActivity" />
        <activity android:name=".mvp.user.userInfo.UserInfoActivity" />
        <activity android:name=".mvp.user.userMyPatrol.patrolList.UserMyPatrolActivity" />
        <activity android:name=".mvp.user.userMyPatrol.patrolDetail.MyPatrolDetailActivity" />
        <activity android:name=".mvp.H5.CommonWebViewActivity" />

        <activity android:name=".keepAlive.KeepLiveActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:theme="@style/KeepLiveTheme"/>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="07569aca1051dc1b364b95eed3b041be" /> <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->

        <service android:name="com.amap.api.location.APSService" />

        <service android:name=".service.LongLinkService"
            android:enabled="true"
            android:exported="true"/>

        <receiver android:name=".service.RestartLongLinkReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartService"/>
            </intent-filter>
        </receiver>

<!--        <provider-->
<!--            android:name="com.luck.picture.lib.PictureFileProvider"-->
<!--            android:authorities="${applicationId}.fileprovider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/external_path"/>-->
<!--        </provider>-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.android.jidian.repair.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>